ul.menu.locale-settings-menu {
  display: flex;
  margin: 0;
}

ul.menu.locale-settings-menu > li {
  flex: 1 1 100%;
  position: relative;
  list-style: none;
}

ul.menu.locale-settings-menu > li > a {
  display: block;
  text-align: center;
  padding: 0.25em 0.5em;
  font-weight: bold;
  border: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

ul.menu.locale-settings-menu a:hover {
  text-decoration: none;
}

ul.menu.locale-settings-menu > li > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #ddd;
  margin: 0;
  z-index: 16;
  border: 1px solid #bbb;
  border-top: none;
}

ul.menu.locale-settings-menu > li.menu-item--active-trail > a {
  background-color: #eee;
  border: 1px solid #ccc;
}

ul.menu.locale-settings-menu > li:hover > a {
  background-color: #ddd;
  border: 1px solid #bbb;
  border-bottom: 1px solid transparent;
}

ul.menu.locale-settings-menu > li:hover > ul {
  display: block;
}

ul.menu.locale-settings-menu > li > ul > li {
  display: block;
}

ul.menu.locale-settings-menu > li > ul > li > a {
  display: block;
  padding: 0.25em 0.5em;
}

ul.menu.locale-settings-menu > li > ul > li.menu-item--active-trail > a {
  background-color: #eee;
}

ul.menu.locale-settings-menu > li > ul > li > a:hover {
  background-color: #fff;
}

.localized-config-form .form-item.js-form-type-vertical-tabs {
  margin-top: 0;
}

.localized-config-form h2.plugin-title {
  margin-top: 0;
}
