<?php

namespace Drupal\{{ module }}\Plugin\LocalizedConfig;

use Drupal\Core\Config\StorableConfigBase;
use Drupal\localized_config\LocalizedConfigPluginBase;
use Drupal\Core\Form\FormStateInterface;

/**
 * The Localized Config plugin for the {{ module }} module.
 *
 * @Plugin(
 *   title = "{{ title }}",
 *   id = "{{ id }}",
 *   weight = {{ weight }},
 *   disabled = {{ disabled }},
 * )
 */
class {{ class }} extends LocalizedConfigPluginBase {

  /**
   * {@inheritdoc}
   */
  public function add(StorableConfigBase $config, $language, array &$form, FormStateInterface $form_state) {
    $element = [];

    // Add form fields.
{{ include('LocalizedConfigAdd.php.twig', {'inputs':inputs}) }}
    return $element;
  }

  /**
   * {@inheritdoc}
   */
  public function validate(StorableConfigBase $config, array $values, array &$form, FormStateInterface $form_state, $language) {
  }

  /**
   * {@inheritdoc}
   */
  public function submit(StorableConfigBase $config, array $values, array &$form, FormStateInterface $form_state, $language) {
    // Save the form fields to configuration.
{{ include('LocalizedConfigSubmit.php.twig', {'inputs':inputs}) }}
    $config->save();
  }

}
